@import "_variables";

/* sass II en page servicios */

$botones: (btn-1:rgb(20, 82, 214), btn-2:rgb(70, 106, 204), btn-3:rgb(137, 165, 241));
@each $btn,
$color in $botones {
    .#{$btn} {
        background-color: $color;
    }
}

.card {
    margin-bottom: 50px;
}

nav {
    background-color: rgb(104, 216, 231);
    div {
        div {
            @extend .flex;
            ul {
                li {
                    a {
                        &:hover {
                            background-color: lightcyan;
                        }
                    }
                }
            }
        }
    }
}

div {
    div {
        div {
            div {
                div {
                    .btn {
                        /*background-color: rgb(14, 87, 223);*/
                        &:hover {
                            background-color: yellow;
                        }
                    }
                }
            }
        }
    }
}

footer {
    div {
        background-color: $color-primario;
        div {
            text-align: center;
            div:hover {
                background-color: lightcyan;
            }
            img {
                height: 70%;
                width: 70%;
            }
        }
    }
}

main {
    background-image: url(../img/fondo.png);
    h1 {
        background-color: rgb(199, 243, 239);
        line-height: 2em;
        text-align: center;
    }
    #contacto {
        height: 600px;
        @extend .flex;
        align-items: center;
    }
}


/* carrusel index */

.flex {
    display: flex;
    justify-content: center;
    #carouselExampleControls {
        width: 70%;
        min-height: 100%;
    }
}


/* Page portal de pacientes*/

.portal {
    height: 600px;
    div {
        div {
            div {
                .correydatos {
                    width: 300px;
                    margin-top: 40px;
                }
            }
            .form-agendacitas {
                display: flex;
                flex-direction: column;
                background-color: rgb(172, 240, 234);
                padding: 40px;
                margin-top: 40px;
                width: auto;
            }
        }
    }
}


/* page sobre nosotros */

.pagesobrenosotrosmain {
    h1 {
        background-color: rgb(199, 243, 239);
        line-height: 2em;
        text-align: center;
    }
    .sobrenosotroscontenedores {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    h2 {
        @extend h1;
    }
    .sobrenosotrosvalores {
        @extend .sobrenosotroscontenedores;
        width: 50%;
        div {
            .color {
                background-color: rgb(172, 240, 234);
                text-align: center;
                .imgchica {
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }
}


/* page afiliados */

.form-afiliarmecontenedor {
    display: flex;
    flex-direction: column;
    background: rgb(203, 241, 248);
    width: 50%;
    height: auto;
    border: 5px solid $color-primario;
    margin-bottom: 20px;
    margin-top: 10px;
}


/* page contactos*/

.contact {
    text-align: center;
    .btncolor {
        display: block;
        background-color: rgb(121, 241, 241);
        margin-top: 20px;
    }
}

@media screen and (max-width: 420px) {
    #contacto {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #carouselExampleControls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 70%;
    }
    .imgchica {
        height: auto;
        width: 130px;
    }
    .form-agendacitas {
        width: auto;
    }
    .correydatos {
        width: auto;
        margin-top: 0;
    }
    .portal {
        height: auto;
    }
    .imgcontacto {
        height: 100px;
        width: 100px;
    }
}