nav {
    background-color: rgb(104, 216, 231);
    div {
        div {
            display: flex;
            justify-content: center;
            ul {
                li {
                    a {
                        &:hover {
                            background-color: lightcyan;
                        }
                    }
                }
            }
        }
    }
}

div {
    div {
        div {
            div {
                div {
                    .btn {
                        background-color: rgb(14, 87, 223);
                        &:hover {
                            background-color: yellow;
                        }
                    }
                }
            }
        }
    }
}

footer {
    div {
        background-color: rgb(170, 230, 245);
        div {
            text-align: center;
            div:hover {
                background-color: lightcyan;
            }
            img {
                height: 70%;
                width: 70%;
            }
        }
    }
}

.portal {
    height: auto;
    div {
        .form-control {
            width: auto;
        }
    }
}

main {
    background-image: url(../img/fondo.png);
    h1 {
        line-height: 2em;
        text-align: center;
    }
    #contacto {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    #contacto {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #carouselExampleControls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 70%;
    }
    .imgchica {
        height: auto;
        width: auto;
    }
}


/* carrusel */

#carru {
    display: flex;
    justify-content: center;
}

#carouselExampleControls {
    width: 70%;
    min-height: 100%;
}


/* page sobre nosotros */

.color {
    background-color: rgb(176, 230, 247);
    text-align: center;
}

.sobrenosotroscontenedores {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.imgchica {
    height: 150px;
    width: 150px;
}


/* page afiliados */

.form-afiliarmecontenedor {
    display: flex;
    flex-direction: column;
    background: rgb(203, 241, 248);
    width: 250px;
    height: auto;
    border: 5px solid darkcyan;
}

.card {
    margin-bottom: 50px;
}