.btn-1 {
  background-color: #52f3e6;
}

.btn-2 {
  background-color: #3ee7c3;
}

.btn-3 {
  background-color: #68d8e7;
}

div div div div {
  margin-bottom: 50px;
}

div div div div img {
  padding: 20px;
}

div div div div div h5 {
  margin: 10px;
}

div div div div div h5:hover {
  color: #68d8e7;
}

div div div div div .btn {
  background: linear-gradient(-45deg, #3f00b5, #1cbfdb, #33e9d7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  margin: 20px;
}

div div div div div .btn:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

div div div div div .btn:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
