    /* page contactos*/
    
    @import "_variables";
    .contact {
        text-align: center;
        .imgcontacto {
            height: 100px;
            width: 100px;
        }
        .btncolor {
            display: block;
        }
    }
    
    .quieroinformarme {
        background-color: white;
        h2 {
            font-weight: bold;
            color: rgb(23, 201, 162);
            background-color: white;
            text-align: center;
        }
        div {
            div {
                form {
                    div {
                        .btn {
                            background: linear-gradient(-45deg, #3f00b5, #1cbfdb, #33e9d7, #3f00b5);
                            background-size: 800% 400%;
                            padding: 1em 2em;
                            display: inline-block;
                            border: none;
                            border-radius: 10px;
                            font-size: 17px;
                            font-weight: 700;
                            color: white;
                            transition: all .5s ease-in-out;
                            animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
                            margin: 20px;
                            &:hover {
                                animation: gradient 3s infinite;
                                transform: scale(1.05);
                            }
                            &:active {
                                animation: gradient 3s infinite;
                                transform: scale(0.8);
                            }
                        }
                    }
                }
            }
        }
    }